html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #f3cd32;
  margin: 1rem;
  font-family: "Roboto Slab", serif;
}
.container {
}
.logo {
  margin-block-end: 1rem;
}
#citruslogo {
  width: 95%;
}
nav {
  margin-block-end: 2rem;
}
nav > ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
ul > * {
  flex: 1 100%;
  background-color: #ddba2fee;
  padding: 1.8rem;
  text-align: center;
  border: 1px solid #f3cd32;
  border-radius: 0.8rem;
  letter-spacing: 0.22rem;
  text-shadow: 0px 1px 4px rgb(114, 114, 114);
}
nav > ul > li > a {
  background-color: #ddba2fee;
  color: black;
  text-decoration: none;
}

/* COLORS #7C6C77 #AAA694 #D1D0A3 #EBF8B8 */
.maincontent {
}
.vision {
}
.intro {
  margin: 0 1.5rem 2rem 1.5rem;
}
.boxes {
  display: flex;
  flex-direction: column;
}
.specials {
  flex: 1 100%;
  margin-block-end: 1rem;
}
.specials > p {
  margin-block-end: 1rem;
  padding: 1rem;
  background-color: #dc8931;
  border-radius: 0.4rem;
  letter-spacing: 0.15rem;
}
#tasty {
  width: 100%;
}
.events {
  flex: 1 100%;
  margin-block-end: 1rem;
}
.events > p {
  margin-block-end: 1rem;
  padding: 1rem;
  background-color: #dc8931;
  border-radius: 0.4rem;
  letter-spacing: 0.15rem;
}
#interior {
  width: 100%;
}
.news {
  flex: 1 100%;
}
.news > p {
  margin-block-end: 1rem;
  padding: 1rem;
  background-color: #dc8931;
  border-radius: 0.4rem;
  letter-spacing: 0.15rem;
}
footer {
  margin-block-start: 2rem;
}
